#pywin32==305.1
# pycocotools==2.0.6
# numpy==1.23.0
git+https://github.com/facebookresearch/fvcore
git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
av==10.0.0
scipy==1.10.0
ninja
